body.dark .modal-content {
	background-color: #1e2229;
}

body.dark .modal-content .modal-header,
body.dark .modal-content .modal-footer {
	border-color: #424242;
}

body.dark .form-control {
	background-color: #282d36;
	border-color: #282d36;
}
body.dark .modal-header .close {
	color: #FFF;
}