/* Estilo base */
@font-face { font-family: 'MerriweatherSans'; src: url('../fonts/MerriweatherSans-Regular.ttf'); }
@font-face { font-family: 'MerriweatherSans-Bold'; src: url('../fonts/MerriweatherSans-Bold.ttf'); }
@font-face { font-family: 'MerriweatherSans-ExtraBold'; src: url('../fonts/MerriweatherSans-ExtraBold.ttf'); }
@font-face { font-family: 'MerriweatherSans-Italic'; src: url('../fonts/MerriweatherSans-Italic.ttf'); }
@font-face { font-family: 'MerriweatherSans-Light'; src: url('../fonts/MerriweatherSans-Light.ttf'); }
@font-face { font-family: 'MerriweatherSans-Medium'; src: url('../fonts/MerriweatherSans-Medium.ttf'); }
@font-face { font-family: 'MerriweatherSans-SemiBold'; src: url('../fonts/MerriweatherSans-SemiBold.ttf'); }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #22212C;
  color: #f8f8f2;
  font-size: 14px;
  font-family: MerriweatherSans-Light;
  margin: 0;
}
a {
  color: #00ae74;
  text-decoration: none;
}
/* ================================================================================================ */
/* Mobile-First Properties */
/* ================================================================================================ */

/* PROFILE */
.profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.profile .card {
  width: 900px;
  margin: 5px;
}
.profile .card:nth-child(1){
  margin-top: 20px;
}
/* BIO */
.bio {
  display: flex;
  align-items: flex-start;
}
.bio img {
  width: 250px;
  height: 250px;
  border-radius: 20%;
  border: 4px solid #00ae74;
  margin: 10px;
}
.bio .name {
  font-size: 40px;
  font-weight: 700;
}
.bio_text {
  font-size: 22px;
  padding: 20px;
  text-align: left;
}

/* SOCIAL */
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  padding-bottom: 20px;
  background-color: #21282f;
}
.icon {
  filter: invert(99%) sepia(0%) saturate(170%) hue-rotate(292deg) brightness(118%) contrast(90%);
  width: 25px;
}
.social .media {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  padding: 5px;
}
.social a {
  height: 20px;
}

/* PROJECTS */
container {
  width: 900px;
}
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.project_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 5px;
  gap: 10px;
}
  
.project_card > li {
  height: 150px;
  position: relative;
  cursor: pointer;
  flex: 1 1 auto;
}
  
.project_card li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.project_card::after {
  content: "";
  flex-basis: 150px;
  flex-grow: 999;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* hover */
.project_card li:hover .overlay {
  transform: scale(1);
}

/* AWARDS */
.awards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}  
.awards .project_card > li {
  height: 80px;
  position: relative;
  cursor: pointer;
  flex: 1 1 auto;
}

/* FOOTER */
footer {
  display: flex;
  margin-top: auto;
  height: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  flex: 1;
}