
@media (min-width: 768px) {
    body {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
    .profile {
      align-items: flex-end;
      flex: 1;
    }
    container {
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 20px;
      flex: 2;
    }
    container h5 {
      flex-basis: 50%;
    }
    container .card {
      width: 230px;
    }
    container .title, .education, .experience, .projects {
      width: 750px;
    }
    container .education {
      flex-direction: row;
    }
    container .experience {
      flex-wrap: wrap;
      flex-direction: row;
    }
    container .projects {
      flex-wrap: wrap;
      flex-direction: row;
    }
    footer {
      flex-basis: 100%;
    }
  }
  